<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drip</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://storage.googleapis.com/mixin-dashboard/favicon.ico" />
  <link rel="bookmark" href="https://storage.googleapis.com/mixin-dashboard/favicon.ico" />
  <style>
    * {
      font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "Microsoft JhengHei", sans-serif;
    }

    .nav-item {
      position: relative;
    }

    .nav-link,
    .nav-link:hover {
      color: #292A3B;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      padding: 0.5em;
    }

    .checkmark {
      position: absolute;
      top: 29px;
      left: 19px;
      height: 3px;
      width: 36px;
      border-radius: 3px;
    }

    .nav-link:hover~.checkmark {
      background-color: #eee;
    }

    .nav-link.active~.checkmark {
      background: linear-gradient(90deg, #FFB819 0%, #FF4BC8 99.99%, #FF48CC 100%);
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142148078-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142148078-3');
  </script>

</head>

<body bgColor="transparent" style="background-color: transparent;">
  {{{body}}}
</body>

</html>