<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drip</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
    integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/chart.js@latest/dist/Chart.bundle.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

    * {
      font-family: 'Noto Sans TC', sans-serif;
    }

    .nav-item {
      position: relative;
    }

    .nav-link,
    .nav-link:hover {
      color: #292A3B;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      padding: 0.5em;
    }

    .checkmark {
      position: absolute;
      top: 29px;
      left: 19px;
      height: 3px;
      width: 36px;
      border-radius: 3px;
    }

    .nav-link:hover~.checkmark {
      background-color: #eee;
    }

    .nav-link.active~.checkmark {
      background: linear-gradient(90deg, #FFB819 0%, #FF4BC8 99.99%, #FF48CC 100%);
    }
  </style>
</head>

<body bgColor="transparent" style="background-color: transparent;">
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>