<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />

<div>
  <main class="container text-center my-5">
    <img src="https://storage.googleapis.com/mixin-dashboard/drip-extension-logo.png" alt="DRIP-logo"
      style="width: 10em;">
    <h1 class="my-3">Drip - 你最好的集資追蹤工具</h1>
    <h6 class="my-1">Campaign Tracker, Analytics and Statistics</h6>
    <a class="my-5 d-inline-block" href="https://chrome.google.com/webstore/detail/ncgkmddibppebiomiicdfehogjkdegdk">>>
      Add this
      awesome browser
      extension</a>
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img class="owl-lazy" data-src="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-1.jpg"
          data-src-retina="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-1.jpg">
      </div>
      <div class="item">
        <img class="owl-lazy" data-src="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-2.jpg"
          data-src-retina="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-2.jpg">
      </div>
      <div class="item">
        <img class="owl-lazy" data-src="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-3.jpg"
          data-src-retina="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-3.jpg">
      </div>
      <div class="item">
        <img class="owl-lazy" data-src="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-4.jpg"
          data-src-retina="https://storage.googleapis.com/mixin-dashboard/drip-extension-carousel-4.jpg">
      </div>
    </div>
  </main>

  <footer class="text-center bg-dark p-5">
    <a href="/privacy" class="text-light">隱私權政策 Terms & Privacy policy</a>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      items: 1,
      loop: true,
      lazyLoad: true,
      dots: true,
      center: true,
      autoplay: true
    })
  });
</script>