<main class="container my-5">
  <a class="my-1 d-inline-block" href="/"> >> home</a>
  <h1>Privacy Policy of DRIP</h1>
  <hr>
  <p><a href="https://chrome.google.com/webstore/detail/ncgkmddibppebiomiicdfehogjkdegdk">DRIP</a>
    Google Chrome
    Extension, which provides services for tracking, analyzing and statistics of crowdfunding project data.</p>
  <h3>By visiting this site, you accept our terms</h3>
  <p>The use of this website is subject to the following terms of use. By visiting this website you acknowledge that you
    have read, understood, and agree to these. We may update these policies from time to time and it is your
    responsibility to check for updates.</p>

  <h3>Information Collection and Use</h3>
  <p>Please be assured that we do not collect any sensitive or personal user information. We don't have any login panel,
    email subscription area, and a form that collects any type of personally identifiable information. We only handle
    part of the website content when you browse the crowdfunding project page. We use the public content of the project
    page to compare our database data to provide you with services to track, analyze, and statistics crowdfunding
    project data. We securely use RSA encryption when transmitting data.</p>
</main>